
<!--title-->
<mat-toolbar>Crear producto</mat-toolbar>

<!-- end title-->



<!--form group-->
<form [formGroup]="form" class="example-form" >
    
    <!-- input title-->
    <mat-form-field class="example-full-width">
        <mat-label>titlte</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    
    <!-- input price-->
    <mat-form-field class="example-full-width" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="price" class="example-right-align" placeholder="0">
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
    <!-- input description-->
    <mat-form-field class="example-full-width">
        <mat-label>description</mat-label>
        <textarea formControlName="description" matInput ></textarea>
      </mat-form-field>

    <!-- input image-->
    <div class="file-input-container">
        <label for="formFile" class="file-label">Imagen:</label>
        <input class="custom-file-input" (change)="onImageChange($event)" type="file" id="formFile">
      </div>
      
      
    <!-- previsualizacion de la imagen -->
    <div *ngIf="previewImage" class="preview-container">
        <img [src]="previewImage" alt="Vista previa de la imagen" class="preview-image">
    </div>
    
    <div class="mb-3">
        <button mat-raised-button color="primary"(click)="onSubmit()">Guardar</button>
    </div>     
</form>

