<img class="title" src="./assets/micro-11-titulo.jpg" alt="">
<img class="imagen-valde" [src]="url + '/' + product.image"/>
<div class="item3">
 
<p class="description-central"><span class="verde">Micro-</span><span class="naranja">11</span>  es un fertilizante líquido concentrado soluble en agua, con una composición equilibrada de todos los macronutrientes 
    necesarios para el normal desarrollo de los vegetales.</p>
<p><b>Cobre(cu):</b> Interviene en el metabolismo vegetal a nivel enzimático.</p> 
<p><b>Hierro (Fe): </b> Juega un papel importante en la formacion de clorofila y en el proceso de la foto síntesis y resporación.</p>
<p><b>Molibdeno (MN):</b> Es un elemento fundamental en la similación del nitrógeno del suelo. </p>
<P><b>Manganeso (Mn):</b> Facilita el aprovechamiento del Magnesio y el Fósforo, 
    componentes fundamentales de la clorofila, además controla trastornos fisiológicos. </P>
<p><b>Zinc (Zn):</b>Actúa en la síntesis de las proteínas como activador enzimático, mejorando la formación de los granos y el desarrollo radicular. <br></p>
<p><b>Boro (B):</b> Ayuda a la asilimacion del Calcio y participa en el metabolismo, logrando fortalecer los tejidos vegetales.</p>
<br>
<h3>PORCENTAJE EN PESO DE ELEMENTOS:</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Mn</th>
        <th scope="col">Fe</th>
        <th scope="col">B</th>
        <th scope="col">Zn</th>
        <th scope="col">Mo</th>
        <th scope="col">Cu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0,34%</td>
        <td>0,32%</td>
        <td>0,09%</td>
        <td>0,92%</td>
        <td>0,004%</td>
        <td>0,70%</td>
      </tr>
    </tbody>
  </table>
  <b>Inertes y humectantes c.s.p 100c.c.</b>
  <div class="form-text">
    Este producto es un complemento y no un sustituto
     de los fertilizantes de aplicación común (incorporados al suelo).
  </div>

</div>

<div class="item4">
     <h4>DOSIS Y MOMENTOS DE APLICACIÓN FOLIAR:</h4>

    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Cultivo</th>
            <th scope="col">Dosis/ha</th>
            <th scope="col">Momento de aplicación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SOJA</td>
            <td>1lt/ha <br> 1,5lt/ha</td>
            <td>1° A partir de las 4 hojas<br> 2° Prefloración</td>
          </tr>
          <tr>
            <td>TRIGO</td>
            <td>1lt/ha <br> 1,5lt/ha</td>
            <td>1° A partir de las 4 hojas<br> 2° Espigazón</td>
          </tr>
          <tr>
            <td>MAÍZ</td>
            <td>1lt/ha <br> 1,5lt/ha</td>
            <td>1° A partir de las 4 hojas<br> 2° Prefloración</td>
          </tr>
          <tr>
            <td>GIRASOL</td>
            <td>1lt/ha <br> 1,5lt/ha</td>
            <td>1° A partir de las 4 hojas<br> 2° Prefloración</td>
          </tr>
          <tr>
           <td>SORGO</td>
           <td>1lt/ha <br> 1lt/ha</td>
           <td>1° A partir de la hoja bandera<br> 2° Prefloración</td>
          </tr>
          <tr>
           <td>PASTURAS</td> 
           <td>1lt/ha <br>2lt/ha <br> 1lt/ha</td>
           <td>1° A partir de los 15cm de crecimiento<br> 2° 15 días antes del corte <br> 3° 20 días después del corte</td>
          </tr>
          <tr>
           <td>ALGODÓN</td> 
           <td>1lt/ha <br> 1lt/ha</td>
           <td>1° Estado de plántufla<br> 2° Floración</td>
          </tr>
        </tbody>
      </table>
      <div class="form-text">
        (Las dosis y el momento de aplicación son orientativos,
         preferentemente consulte con el ing. Agrónomo de su confianza)
      </div>
</div>


<div class="item5">
    <p><b>Producto inscripto en la Secretaría de Agricultura Ganadería 
        Pesca y Alimentos (SENASA) con el numero N° 14.791</b></p>
    
        <H3>ES UN PRODUCTO DE:</H3>
        <p><span class="verde">BIO-</span><span class="naranja">MANAR</span> Distribuidora mayorista de Nelly Graciela Nuñez,
        Los Chorrillos 280-CP 5158. Bialet Massé- Provincia de Córdoba Rep. Argentina.</p>
    <ul>
        <li>Precio: {{ product.price | currency:'USD' }}</li>
        <li>Contenido neto: 20 litros</li>
        <li>ATOXICO</li>
        <li><img src="./assets/micro-footer.jpg" alt=""></li>
    </ul>
    -La aplicación de este producto se hace extensivo a otros cultivos: jardinería,cítricos,maní,frutales,floricultura,etc. <br> <br>
      -En todos los casos es recomendable pulversizar con volúmenes de agua no inferiores a 80-100lts por ha. <br> <br>
      -En caso de <b>aeroplicaciones</b> hacerlo con volúmenes de auga no menores a 6-8lts de caldo por ha. <br> <br>
      -El PH óptimo de aplicación es neutro o levemente ácido. <br><br>
      -No aplicar en días calurosos o de gran insolación. <br><br>
      <br>
      <h3>APLICACIÓN POR FERTIRRIEGO Y USO FOLIAR</h3>

</div>
