
<img class="title" src="./assets/nitro-21-titulo.jpg" alt="">
<img class="imagen-valde" [src]="url + '/' + product.image"/>
<div class="item3">
    <p class="description-central"><span class="verde">Nitro-</span><span class="naranja">21</span>  Fertilizante foliar líquido concentrado soluble en agua.</p>
    <h3>PORCENTAJE EN PESO DE ELEMENTOS:</h3>
    <b>Nitrógeno total expresado como nitrógeno:21% </b> <br>
    <span>Contiene trazas de Azufre y Calcio.</span>  <br>
    <span>Grado: 21 -0 -0.</span>  <br>
    <span>Tensión superficial: 70 Dyn/cm.</span>  <br>
    <span>Ph:6,4. Con la dilución recomendada tiende a neutro.</span>  <br>
    <br>
    <h3>DESCRIPCIÓN</h3>
    <p>Nitro 21 es un fertilizante foliar líquido concentrado,
         soluble en agua, que no modifica el PH de la misma.</p>
    <p>En su composición contiene NITROGENO en forma nítrica y amoniacal además de contener
     el agregado de otros elementos necesarios para la nutrición vegetal.
    La aplicación foliar de NITROGENO sobre cultivos, induce a un rápido
    desarrollo vegetativo, beneficiando el rinde como también la calidad de las cosechas.</p>
    <div class="form-text">
    Este producto es un complemento y no un sustituto
     de los fertilizantes de aplicación común (incorporados al suelo).
    </div>
</div>

<div class="item4">
    <h3>DOSIS Y MOMENTOS DE APLICACIÓN FOLIAR:</h3>

   <table class="table">
       <thead>
         <tr>
           
           <th scope="col">Cultivo</th>
           <th scope="col">Dosis/ha</th>
           <th scope="col">Momento de aplicación</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>SOJA</td>
           <td>1,0 lt/ha <br> 1,5 lt/ha  <br> 2,0 lt/ha</td>
           <td>1° A partir de las 4-8 hojas<br> 2° Prefloración<br> 3° 20 días después </td>
         </tr>
         <tr>
           <td>TRIGO</td>
           <td>1,0 lt/ha <br> 1,5 lt/ha</td>
           <td>1° macollage<br> 2° Espigazón</td>
         </tr>
         <tr>
           <td>MAÍZ</td>
           <td>1,0 lt/ha <br> 1,5 lt/ha <br> 2,0 lt/ha</td>
           <td>1° A partir de las 6-8 hojas<br> 2° Prefloración <br> 3° 20 días después</td>
         </tr>
         <tr>
           <td>GIRASOL</td>
           <td>1,0 lt/ha <br> 1,5 lt/ha <br> 2,0 lt/ha</td>
           <td>1° A partir de las 4 hojas<br> 2° 20 días después<br> 3° Prefloración</td>
         </tr>
         <tr>
          <td>ALFAFA</td>
          <td>1,0 lt/ha <br> 1,5 lt/ha <br> 1,0 lt/ha</td>
          <td>1° a los 15 cm. de altura<br> 2° 15 días antes del corte<br> 3° 10 días después del corte. </td>
         </tr>
         
       </tbody>
     </table>
     <div class="form-text">
       (Las dosis y el momento de aplicación son orientativos,
        preferentemente consulte con el ing. Agrónomo de su confianza)
     </div> 
</div>   
  
  
<div class="item5">
   <p><b>Producto inscripto en Registro Nacionl de Fertilizantes y Enmiendas,
     SENASA-S.A.G.P.yA., con el numero N° 14.824</b></p>
  
      <H3>ES UN PRODUCTO DE:</H3>
      <p><span class="verde">BIO-</span><span class="naranja">MANAR</span> Distribuidora mayorista de Nelly Graciela Nuñez,
      Los Chorrillos 280-CP 5158. Bialet Massé- Provincia de Córdoba Rep. Argentina.</p>
  <ul>
      <li>Precio: {{ product.price | currency:'USD' }}</li>
      <li>Contenido neto: 20 litros.</li>
      <li>ATOXICO</li>
      <li><img  src="./assets/nitro.jpg" alt=""></li> 
  </ul>
  
</div>




<div class="item7">
    <h3>INTRUCCIONES DE USO</h3>
    <p>Para aplicaciones foliares:utilizar un volumen de 100-120 lts. de auga
        por hectárea con la dosis de fertilizante necesaria. <br>
        Para aplicaciones aéreas: utilizar un volumen de 6 a 8 litros de caldo por Ha. <br>
        Nitro 21 se debe usar con el agregado de un tensioactivo.
    </p>
</div>