


    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color:#cf7930 "
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #c1e0b6"
               >
        <!-- Left -->
        <div class="me-5">
          <img src="./assets/cuidemos-la-tierra.jpg" alt="">
        </div>
        <!-- Left -->

        
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">En unión y libertad</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                El fertilizante foliar se incorpora inmediatamente al vegetal a traves de sus hojas
                , tallos y raíz.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a routerLink="/products/64d89cbaf02171670b10cafe">
                    Nitro 21
                </a>
              </p>
              <p>
                <a routerLink="/products/64d89d2ef02171670b10cb00" >
                    Micro 11
                </a>
              </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Administración</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <span class="text-white">Los chorillos 280 (5158) Vialet Massé</span>
              </p>
              <p>
                <span class="text-white">Provincia de Cordóba - Rep. Argentina</span>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i>Cel.:0351 152046130 </p>
              <p><i class="fas fa-envelope mr-3"></i>Cel.:0351 1520435460 </p>
              <p><i class="fas fa-phone mr-3"></i>Tel.:03541 - 447206 </p>
              <p><i class="fas fa-print mr-3"></i>info@biomanar.com.ar </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        Bio-Manar fertilizantes líquidos foliares
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

 