

<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide class="swiper-slide"><img src="/assets/uno.jpg" alt=""> </swiper-slide>
    <swiper-slide class="swiper-slide"><img src="/assets/dos.jpg" alt=""></swiper-slide>
    <swiper-slide class="swiper-slide"><img src="/assets/tres.jpg" alt=""></swiper-slide>
</swiper-container>

<div class="row">
   <p>Bienvenidos a Bio-Manar, tu socio confiable en el mundo de la agricultura y la nutrición vegetal. Desde nuestra fundación,
    hemos estado comprometidos con la mejora continua de los cultivos y la promoción de prácticas agrícolas sostenibles.
  </p>
  <p><b>Nuestra Misión</b> <br>
    En Bio-Manar, nuestra misión es empoderar a los agricultores con soluciones nutricionales avanzadas que maximizan
    el potencial de sus cultivos. A través de años de investigación y desarrollo, hemos creado una línea excepcional
      de fertilizantes de alta calidad que incorporan la ciencia más innovadora para lograr cosechas abundantes y 
      saludables.
  </p>
  <p><b>Nuestros Productos Estrella</b> <br>
    Nos enorgullece presentar nuestros productos estrella, Nitro 21 y Micro 11. Estos fertilizantes de vanguardia están formulados para proporcionar a las plantas los nutrientes esenciales y micronutrientes necesarios para su crecimiento óptimo. Nitro 21, con su equilibrio perfecto de nitrógeno, impulsa el desarrollo vigoroso de las plantas. Micro 11, enriquecido con micronutrientes clave, promueve la salud y la vitalidad de los cultivos, 
    resultando en cosechas más robustas y nutritivas.
  </p>  
  <p>
    Gracias por elegir Bio-Manar como su socio en la nutrición vegetal. Esperamos que experimente el impacto positivo de nuestros productos en sus cultivos y cosechas. Para más información o consultas, no dude en contactarnos.
  </p>   
</div>

<div class="container">
  <h1 class="title">Ventajas de nuestros productos</h1>
  <div class="lists-container">
      <div class="list">
          <ul class="list-ul">
              <li class="list-item">Son de fácil aplicación y se pueden mezclar con cualquier producto que se diluya en agua.</li>
              <li class="list-item">Los nutrientes se incorporan al vegetal en un 100%, en el término de dos horas desde su aplicación.</li>
              <li class="list-item">Son líquidos y se diluyen en agua, no afectan el pH, son ATÓXICOS.</li>
          </ul>
      </div>
      <div class="list">
          <ul class="list-ul">
              <li class="list-item">Entregan micro-nutrientes y macro-nutrientes.</li>
              <li class="list-item">Aseguran un mayor rendimiento superior al 10%.</li>
              <li class="list-item">Mayor sanidad en sus cultivos y en su suelo.</li>
              <li class="list-item">Son libres de FITOTOXICOS.</li>
          </ul>
      </div>
      <div class="list">
          <ul class="list-ul">
              <li class="list-item">Mayor fortaleza, mayor resistencia a las plagas.</li>
              <li class="list-item">Son inorgánicos y no tienen vencimiento.</li>
              <li class="list-item">No son abrasivos.</li>
              <li class="list-item">Dan mayor resistencia al estrés hídrico.</li>
          </ul>
      </div>
  </div>
</div>
